:root {
  --pico-font-family: 'Inter var', sans-serif;
}

h1,
h2 {
  --pico-font-family: 'Merriweather', serif;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

body {
  > header {
    display: flex;
    gap: 1.5em;

    img {
      height: 3.5em;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: 2em;

    > section#greeting {
      text-align: justify;
      hyphens: auto;

      video {
        width: 100%;
        margin-bottom: 1lh;

        @media (min-width: 1024px) {
          float: left;
          width: auto;
          height: 10lh;
          margin-right: 3em;
        }
      }
    }
  }
}

x-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 0.85em;
    margin: 0;
    min-width: 18em;
    cursor: pointer;

    h2 {
      --pico-font-family: 'Fira Sans Condensed', system-ui;
      font-size: 1.15em;
    }

    footer {
      display: flex;
      margin-top: auto;
      justify-content: space-around;
      > * {
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        border-radius: 10px;
        background-color: rgba(255, 152, 0, 0.75);
        color: rgb(255, 255, 255);

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        &.estatal {
          background-color: rgba(0, 0, 255, 0.75);
        }

        &.cataluna {
          background-color: rgba(232, 141, 33, 0.75);
        }

        &.mixed {
          background-color: rgba(255, 0, 0, 0.75);
        }

        &.public {
          background-color: rgba(213, 213, 22, 0.75);
        }
      }
    }
  }
}

dialog h3 {
  --pico-font-family: 'Fira Sans Condensed', system-ui;
}
