:root {
  --pico-font-family: 'Inter var', sans-serif;
}

h1 {
  --pico-font-family: 'Merriweather', serif;
  font-size: 1.25em;
  font-weight: 400;
}

body {
  > header {
    display: flex;
    gap: 1.5em;

    svg {
      height: 5em;

      .cls-3,
      .cls-4 {
        stroke-width: 0;
        fill: none;
      }

      .cls-5,
      .cls-6 {
        fill: var(--pico-background-color);
      }

      .cls-7,
      .cls-8,
      .cls-9 {
        fill: var(--pico-color);
      }

      .cls-6,
      .cls-8 {
        fill-rule: evenodd;
      }
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: 2em;

    > section#greeting {
      text-align: justify;
      hyphens: auto;

      video {
        width: 100%;
        margin-bottom: 1lh;

        @media (min-width: 1024px) {
          float: left;
          width: auto;
          height: 10lh;
          margin-right: 3em;
        }
      }
    }
  }
}

x-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em 0;

  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 0.85em;
    margin: 0;
    min-width: 18em;
    hyphens: auto;
    cursor: pointer;

    small {
      display: flex;
      justify-content: space-between;
      color: var(--pico-muted-color);
    }

    h2 {
      --pico-font-family: 'Fira Sans Condensed', system-ui;
      font-size: 1.15em;
      margin: 0;
    }

    div {
      margin-top: 1em;
      font-size: 0.8em;
    }
  }
}

dialog h3 {
  --pico-font-family: 'Fira Sans Condensed', system-ui;
  color: var(--pico-h1-color);
}

.badge {
  border-radius: 0.5em;
  background-color: #0172ad;
  color: white;
  padding: 0.25em 0.5em;
  text-transform: capitalize;
  margin: 0 0.25rem;
}
