/**
 * Fira Sans Condensed, descargada de Google Fonts.
 * Más compacta que Merrieweather; mejor para titulares.
 */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/FiraSansCondensed-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**
 * Merriweather, en una versión más actual que la que ofrece Google Fonts.
 * Entre otras mejoras, incorpora las versalitas.
 * Véase https://github.com/SorkinType/Merriweather
 */

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
    url(/fonts/Merriweather-LightItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
    url(/fonts/Merriweather-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
    url(/fonts/Merriweather-BoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
    url(/fonts/Merriweather-BlackItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Light'), local('Merriweather-Light'),
    url(/fonts/Merriweather-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url(/fonts/Merriweather-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url(/fonts/Merriweather-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Merriweather Black'), local('Merriweather-Black'),
    url(/fonts/Merriweather-Black.woff2) format('woff2');
}

/**
 * Inter, de Rasmus Andersson, en su versión variable.
 * Véase https://rsms.me/inter/
 */

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/fonts/Inter-italic.var.woff2) format('woff2');
}

/**
 * La tipografía para las listas numeradas (`<ol>`).
 */

@font-face {
  font-family: 'Numbered';
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url(/fonts/Numbered.woff2) format('woff2');
}
