video {
  width: 100%;
  @media (min-width: 1024px) {
    float: left;
    max-width: 24em;
    margin-right: 1em;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  article {
    font-size: 0.85em;
    flex: 1;
    padding: 1em;
    min-width: 18em;

    h2 {
      font-size: 1.15em;
    }
  }
}
