video {
  float: left;
  max-width: 24em;
  margin: 0 1em 1em 0;

  @media (max-width: 1024px) {
    float: none;
    max-width: 100%;
  }
}

h2 {
  clear: left;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  article {
    font-size: 0.85em;
    flex: 1;
    padding: 1em;
    min-width: 18em;

    h2 {
      font-size: 1.15em;
    }
  }
}
